
// -------------------- END BANNER ---------------------


// GLOBAL 
//--------------------------------------------------------------

.end_banner_container {
	height: 500px;
	background-position: center;
}

// MARRAKESH ---------------------------------------------------------

.marrakesh_end_banner {
	background-image: url(../images/city_images/marrakesh_images/marrakesh_end_banner.jpeg);
}

// LISBON ------------------------------------------------------------

.lisbon_end_banner {
	background-image: url(../images/city_images/lisbon_images/lisbon_wave.jpeg);
}

// ZAGREB ------------------------------------------------------------

.zagreb_end_banner {
	background-image: url(../images/city_images/zagreb_images/zagreb_window.jpg);
}