// COLORS
// -------------------------------------------------------------------

//BACKGROUND
$background: rgb(235, 237, 239);
$footer-color: #182431;

//MAIN PAGE
$main-header-color: #FFFFFF;
$main-primary-color: #196675;
$main-secondary-color: #427b66;
$main-tertiary-color: #c2b521;

//NAVIGATION
$nav-primary-color: #196675;
$nav-hover-color: #c2b521;

//MARRAKESH
$marrakesh-header-color: #c2b521;
$marrakesh-primary-color: #c2b521;
$marrakesh-secondary-color: #196675;
$marrakesh-tertiary-color: #305a48;

//LISBON
$lisbon-header-color: #ffe2b8;
$lisbon-primary-color: #e3967c;
$lisbon-secondary-color: #226d72;
$lisbon-tertiary-color: #64a5a9;

//ZAGREB
$zagreb-header-color: #293243;
$zagreb-primary-color: #c3444b;
$zagreb-secondary-color: #3286b2;
$zagreb-tertiary-color: #1c205c;

//BUDAPEST
$budapest-header-color: ;
$budapest-primary-color: ;
$budapest-secondary-color: ;
$budapest-tertiary-color: ;

//PRAGUE
$prague-header-color: ;
$prague-primary-color: ;
$prague-secondary-color: ;
$prague-tertiary-color: ;

//BERLIN
$berlin-header-color: ;
$berlin-primary-color: ;
$berlin-secondary-color: ;
$berlin-tertiary-color: ;

//MOSCOW
$moscow-header-color: ;
$moscow-primary-color: ;
$moscow-secondary-color: ;
$moscow-tertiary-color: ;

//ISTANBUL
$istanbul-header-color: ;
$istanbul-primary-color: ;
$istanbul-secondary-color: ;
$istanbul-tertiary-color: ;

//KRAKOW
$krakow-header-color: ;
$krakow-primary-color: ;
$krakow-secondary-color: ;
$krakow-tertiary-color: ;


